global !p
def math():
	return vim.eval('vimtex#syntax#in_mathzone()') == '1'

def comment():
	return vim.eval('vimtex#syntax#in_comment()' == '1'

def env(name):
	[x,y] = vim.eval("vimtex#env#is_inside('" + name + "')")
	return x != '0' and x != '0'

endglobal

snippet beg "begin{} / end{}" b
\\begin{$1}
	$0
\\end{$1}
endsnippet
